.products-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 10px;
  width: 97%;
  margin: auto;
  position: relative;
}
.single-product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  /* width: 320px; */
  border-radius: 7px;
}
.cart {
  background-color: #ff6200b7;
  position: sticky;
  top: 0;
}
.random-product {
  padding: 10px;
  border-top: 1px solid #ffffff9d;
}
.random-product img {
  width: 100px;
  height: 100px;
}

@media only screen and (max-width: 667px) {
  /*Big smartphones [426px -> 600px]*/
  .products-container {
    grid-template-columns: 1fr;
  }
  .single-product {
    grid-template-columns: repeat(1, 1fr);
  }
  .cart-section {
    order: 1;
  }
  .single-product {
    order: 2;
  }
}

/* @media screen and(max-width:678px) {
  .products-container{
    background-color: red;
  }
} */

/* @media screen and(max-width:600px) {
  .products-container {
    grid-template-columns: 1fr;
    background-color: red;
  }
  .single-product {
    grid-template-columns: repeat(1, 1fr);
  }
} */
